caption{
    font-weight: bold;
    font-size: 12px;
    }
    body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    th,td{
    border:1px solid rgb(220, 85, 85);
    padding: 10px;
    }
    
    table{
     border-collapse:collapse;
     border:5px solid rgb(146, 146, 220)
    }
    
    thead th {
    width:25%;
    background-color: #333;
    color:rgb(192, 83, 83);
    font-size: 0.8rem;
    letter-spacing: 2%;
    }
    
    .cell-highlight{
    background-color: brown;
    }
    
    tbody tr:nth-child(odd){
    background-color: rgb(91, 98, 219);
    }
    
    tbody tr:nth-child(even){
    background-color: rgba(18, 4, 4, 0);
    }
    
    tbody th{
    background-color:rgb(78, 174, 30);
    color:rgb(191, 106, 106)
    text-algin:left;
    }