li{
  borfer:2px solid blue;
  display:inline-block;
  margin:0.5rem;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #300060;
}

li {
float: center;
border-right: 1px solid #bbb;
}

a {
display: block;
color: white;
text-align:center;
padding: 24px 26px;
text-decoration: none;
font-weight:bold;
font-size:30px;
}

li a:hover {
background-color: #211;
}
body {
/* Old browsers */
background: #99ffcc;
/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(-45deg, #ffcccc, #00ffff);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(-35deg, #99ffcc, #0040ff);
margin: 0;
padding: 0;
}

h1 {
color: #FFF;
font-size: 2em;
padding-top: 100px;
width: 100%;
}

p {
color: aliceblue;
line-height: 1.3em;
text-align: center;
width: 100%;
  font-size:20px;
}

.byline {
font-family: Helvetica;
color: rgba(255, 255, 255, 0.5);
float: left;
font-size: 20px;
padding-left: 10px;
text-transform: uppercase;
}

.caption {
display: block;
font-family: "Times New Roman", Times, serif;
font-size: 90px;
font-style: italic;
line-height: 44px;
margin-left: 30px;
padding: 20px;
position: relative;
text-align: center;
top: 50%;
width: 90%;
font-weight: bold;
color: white;
}

.content {
padding: 40px;
}

.image{
background-image: url("https://www.nbcc.cn/xygk/xyjj/201207/W020160422579116262862.jpg");
background-size: cover;
background-position: left;
height: 600px;
}

.writer-img {
-webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
-moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
float: right;
width: 60px;
}